.formcontainer{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px ;
    border-radius: 5px;
}
label{
    display: block;
    margin: 10px 0 5px 0;
    color: var(--primary-color);
}
button{
    height: 40px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--focus-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}
button:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
.email input{
    width: 75%;
}
.email button{
    width: 22%;
}
.email > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.password{
    position: relative;
}
.password .eyeIcon{
    position: absolute;
    top: 70%;
    right: 1%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
input[type="submit"]{
    margin-top: 25px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--focus-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}
input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
.link{
    width: fit-content;
    margin-left: auto;
    margin-top: 10px;
}
.link *{
    text-decoration: none;
}