.formcontainer{
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px ;
    border-radius: 5px;
    background-color: var(--main-color);
}
.formcontainer label{
    display: block;
    margin: 10px 0 5px 0;
    color: var(--primary-color);
}
input{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
}
button:hover{
    background-color: rgb(90, 178, 255);
    color: #fff;
}

.password{
    position: relative;
}
.password .eyeIcon{
    position: absolute;
    top: 70%;
    right: 1%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.formcontainer input[type="submit"]{
    height: 40px;
    background-color: var(--tertiary-color);
    border: 1px solid #BF3131;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: none;
    color: var(--primary-color);
}
.formcontainer input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
.forgetpass{
    width: fit-content;
    margin-left: auto;
    margin-top: 10px;
}
.forgetpass *{
    text-decoration: none;
}