.formcontainer{
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px ;
    border-radius: 5px;
    background-color: var(--main-color);
}
.formcontainer label{
    display: block;
    margin: 10px 0 5px 0;
    color: var(--primary-color);
}
input{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
    border: 1px solid #BF3131;
    border-radius: 7px;
}
.formcontainer button,.formcontainer input[type="submit"]{
    height: 40px;
    background-color: var(--tertiary-color);
    border: 1px solid #BF3131;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: none;
    color: var(--primary-color);
}
.formcontainer button:hover,.formcontainer input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
.email input{
    width: 75%;
}
.email button{
    width: 22%;
}
.email > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.password{
    position: relative;
}
.password .eyeIcon{
    position: absolute;
    top: 70%;
    right: 1%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.getoffer{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.getoffer label{
    flex: 3;
    /* color: grey; */
}
.getoffer input{
    flex: 1;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    cursor: pointer;
}