*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
:root {
  --focus-color:#BF3131;
  --main-color:#ffffff;
  --primary-color: #88AB8E;
  --secondary-color: #AFC8AD;
  --tertiary-color:#EEE7DA;
  --quaternary:#F2F1EB;

}
body{
  background-color:var(--quaternary);
}
html{
  font-size: 20px
}
.container{
  max-width: 1350px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.flex{
  display: flex;
  align-items: center;
}
