.main{
    padding: 50px 0;
    margin: auto;
    /* background-color: #ffffff; */
}
.main > div > div{
    margin: auto;
}
.header{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.header > div{
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 10px 80px;
    font-size: 1rem;
    cursor: pointer;
    color: #869292;
}
.header > .headerActive{
    background-color: #e3ebf7;
    color: #285192;
}
.forms{
    padding: 10px 20px;
}